body {
    height: 650px;
    background: #f7f7f7 url(../img/pixta_35025623_s.jpg) center top/cover no-repeat;
}

.bheadder img {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.bheadder {
    position: relative;
    height: 650px;
    width: 100%;
}

.contents {
    width:100%;
    margin: 10px auto;
    padding-top: 20px;
/*    border: solid 2px; */
}

.pframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:solid 2px #f7f7f7;
}

.apice{
    max-width: 1000px;
    margin: 10px auto;
    width:100%;
/*    border: solid 2px; */
}

.apice .title{
    font-weight: bolder;
    font-size: 150%;
    background-color: rgb(165, 227, 230);
    margin: 0px;
    border-left: solid 20px lightseagreen;
    padding-left: 10px;
}
.apice .title .tdate{
    font-weight: normal;
    font-size: 70%;
    padding-left: 50px;
}

.apice .story{
    max-width:1000px;
    margin-top: 10px;
    margin-bottom: 50px;
}
